.container {
    position: relative;
    /* display: inline-block; */
    min-width: 350px;
}


.orderBox {
    border-radius: 5px;
    padding: 10px;
    /* vertical-align: top; */
    min-height: 150px;
    /* height: 200px; */
    
    background-color: #EEEEFF;
}

.summary {
    padding-left: 10px;
}