.orderBox {
  margin: 15px;
  border-radius: 5px;
  padding: 10px;
  /* vertical-align: top; */
  min-height: 250px;
  /* height: 200px; */

  background-color: #eeeeee;
}

.summary {
  padding-left: 10px;
}

.orderBoxHeader {
  position: relative;
}
.orderDetailBtn {
  position: absolute;
  right: 0px;
  top: -5px;
  text-align: right;
  background-color: #bbb;
  border-radius: 5px;
  border: none;
  height: 40px;
  display: inline-block;
  outline: 1px solid white;
}

.orderBoxName {
  display: inline-block;
}
