.exporter {
    /* display: inline-block; */

    background-color: #AAA;
    /* margin-top: 20px; */
    width: 650px;
    margin: 0 auto;
    border-radius: 5px;
}

.exporter_name {
    /* display: inline-block; */
    margin: 20px 15px 0px 15px;
    background-color: #fff;
    border-radius: 5px;
    /* margin: 15px auto; */
    padding: 15px;
}

.exporter_name h2{
    /* color: red; */
    vertical-align: middle;
    text-align: center;
    line-height: 1em;
    margin: 0;
}