.exchangeRates {
    /* background-color: rgb(41, 56, 11); */
  /* background: linear-gradient(to right, #2e2c18, #dbd271); */

    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;

}

.exchangeRates {
    border: 1px solid #EEE;
}


.exchangeRates p {
    line-height: 0.7em;
    font-size: 0.9em;
}

.usd {
    color: #EEE;
}