.importedItems {
    min-width: 400px;
    margin: 10px 20px 10px 20px;
    background-color: #EEE;
    padding: 15px;
    border-radius: 7px;
}

.volume, .weight  {
    padding-left: 10px;
    display: inline-block;
    /* background-color: #fff; */
    border-radius: 5px;
    border: 1px solid #BBB;
}


.volume_weight_container {
    display: grid;
    grid-template-columns: 10fr 15px 10fr;
    justify-content: start;
    margin-bottom: 15px;
}

.state_regulation {
    line-height: 2em;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #BBB;
}