.navigation {
    display: inline-block;
    background-color: #EEE;
    margin: 0px 20px 0px 20px;
    padding: 15px;
    border-radius: 5px;
    min-width: 300px;
}

.nav_button {
    color: grey;
}

.wrapper {
    padding: 5px;
}

/* .navigation p {

} */