.searchedImporters_form select:focus {
    box-shadow: none;
    outline: none;
    border: 1px solid gray;
    background-color: #fff;
}

.searchedImporters_form select select:checked {
    background-color: #fff;
    box-shadow: green;
  }

  .searchedImporters_form select select:focus { 
     background-color: red;
}