.ordereditems {
    border: 1px solid;
    margin: 10px 20px 10px 20px;
    padding: 20px;
    width: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.item {
    display: inline-block;
    background-color: 333;
}
