.ordereditems {
    margin: 0px 0px 15px 0px;
    padding: 5px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    line-height: 1em;
    background-color: #CCC;
    border-radius: 5px;
}

.item {
    display: inline-block;
}

.qty {
    width: 20px;
    text-align: right;
    padding: 0px 5xp 0px 5xp;
}

.control_button {
    margin: 0px 5px 0px 5px;
}

.delete_button {
    margin: 0px 5px 0px 5px;

}

.summary {
    text-align: end;
    vertical-align: middle;
}