.ordereditems {
  font-size: 0.9em;
  margin: 0px 0px 15px 0px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  line-height: 1em;
  background-color: #ccc;
  border-radius: 5px;
  text-align: right;
  grid-auto-rows: 35px;
}

.name {
  text-align: left;
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6; */
}

.imaga {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
}

.price {
  font-weight: bold;
}

.item {
  display: inline-block;
}

.qty {
  /* width: 7px; */
  text-align: right;
  padding: 0px 5xp 0px 5xp;
}

.qty_value {
  margin-right: 5px;
  display: inline-block;
}

.control_button,
.delete_button {
  margin: 0px 4px;
  padding: 0px;
  height: 30px;
  width: 26px;
  vertical-align: middle;
  display: inline-block;
  border-radius: 3px;
}

.summary {
  text-align: end;
  vertical-align: middle;
}

.plus {
  width: 19px;
  position: absolute;
  top: 6px;
  left: 2px;
}

.minus {
  width: 19px;
  height: 5px;
  position: absolute;
  top: 12px;
  left: 2px;
}

.delete {
  width: 16px;
  position: absolute;
  top: 6px;
  left: 4px;
}

.duty {
  vertical-align: middle;
  line-height: 2em;
  text-align: right;

}

.totalPayment {
  vertical-align: middle;
  line-height: 2em;
  text-align: right;
}