.wrapper {
  margin: 10px 20px 10px 20px;
  background-color: #eee;
  padding: 20px;
  border-radius: 7px;

}

.block {
  display: inline-block;
  width: 46%;
}

.block_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price {
  width: 40%;
}
