.wrapper {
 width: 100vh;
 margin: 0 auto;

}


.name {
  color: black;
}

.content {
  display: grid;
  grid-template-columns: 2fr 3fr; 
}

.name {
  text-align: center;
  position: relative;
}

.name h1{
  background-color: gray;
  background: linear-gradient(to right, #fefcea, #888);
  padding: 2em;
  vertical-align: middle;
}