.wrapper {
 margin: 0 auto;

}

.header {
  position: relative;
  background: linear-gradient(to right, #fefcea, #888);
  height: 95px; 
}

.header_container {
  margin: 20px 0xp 20px 0xp;
  padding: 30px;
}

.content {
  display: grid;
  grid-template-columns: 4fr 1fr ;
  width: 80%;
  margin: 0 auto;
}

.name {
  position: absolute;
  /* top: 1em; */
  left: 150px;
  transform: translate(-50%);
  /* width: 50%; */
  /* text-align: center; */
  color: black;
  vertical-align: middle;
  margin: 0 auto;
  height: 100px;
  width: 200px;
}

.name h1{
  color: #123456;

}