@import '../node_modules/bootstrap/dist/css/bootstrap.css';
.wrapper {
  margin: 0 auto;
}

.header_container {
  position: relative;
}

.header {
  background: linear-gradient(to right, #ddd, #777);
  padding-right: 200px;
}

.name {
  left: 30px;
  display: inline-block;
  margin: 30px;
  color: black;
}

button {
  border: solid 1px white;
  outline: none;
  border-radius: 2px !important;
  background-color: #bbb;
}

button:focus {
  outline: none !important;
  color: #ddd !important;
  border: solid 1px black !important;
  background-color: #aaa !important;

  /* color: #fff; */
}

button:hover {
  background-color: #888 !important;
  color: #ddd !important;
}
